h1{
    color: #000;
    font-size:xxx-large;
}
.header{
    background-color: chartreuse;
    display: flex;
    justify-content:center;
}

    body{background-color:chocolate;}
  
    body {background-image:url('g.jpg')}
    .header1  {border:solid;
    margin: 30px;}

    a:link{color: rgb(99, 83, 83);}
    a:visited{color: rgb(22, 214, 48);}
   .item:hover img   {opacity:0.5}